:root {
    --primary: lime;
    --size: 100px;
    --bord: 5px solid black; 
}

h1 {
    color: var(--primary);
    height: var(--size);
    border: var(--bord);
}

.card{
    --primary: purple;
}

.badge {
    color: var(--primary);
}

.par {
    color: var(--primar, var(--k, green));
    border: var(--bord);
    height: var(--size);
}

h2 {
    color: var(--primary);
    height: var(--size);
    border: var(--bord);
    background-color: aqua;
}


