.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-title {
    font-size: 3rem;
}

.hero-desc {
    font-size: 1.5rem;
}

@media(min-width: 640px) {
    .hero {
        align-items: flex-start;
        margin: 5%;
    }
}