.parent {
    width: 400px;
    background-color: blue;
}

.child {
    width: 50%;
    background-color: yellow;
}

.sec-child {
    width: 200px;
    background-color: red;
}

#p1 {
    font-size: 16px;
}

#p2 {
    font-size: 1rem;
}

.box {
    width:  200px;
    padding: 20px;
    border: 5px solid black;
    margin: 30px;
    box-sizing: border-box;
}

#l1 {
    font-size: 1.2rem;
}

#l2 {
    font-size: 1.2rem;
}

#l3 {
    font-size: 1.2rem;
}

#hero {
    height: 50vh;
    padding: 20px;
    border: solid lime;
    margin: 20px;
    background-color: bisque;
}

h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: purple;
    text-align: center;
}

#lsb {
    width: 20vh;
    height: 5vh;
    color: blue;
    background-color: lime;
}

span {
    width: 100px;
    height: 40px;
    margin: 5px;
    background-color: aquamarine;
    border: solid blue;
    display: block;
}
